@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sacramento&display=swap');

body {
  background-color: #526972;
  position: relative;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}